// General
$border-radius: 0.1rem;
$font-weight-normal: lighter;

// Buttons
$input-btn-padding-y: 0.25rem;
$input-btn-padding-x: 1.2rem;
$input-btn-font-size: 0.8rem;

// Colors
$primary: #003865;
$secondary: #d4f6cc;
$success: #3ccf4e;
$warning: #ff5900;
